@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h5>iDisplay is a website where you can buy and sell almost everything. 
    The best deals are often done with people who live in your own city or on your own street, so on iDisplay it's easy to buy and sell locally. 
    All you have to do is select your region.
    </h5><h5>It takes less than 2 minutes to post an ad on iDisplay You can sign up for a free account and post ads easily every time.
iDisplay has the widest selection of popular second hand items all over Sri Lanka, which makes it easy to find exactly what you are looking for. So if you're looking for a car, mobile phone, house, computer or maybe a pet, you will find the best deal on ikman.lk.
iDisplay does not specialize in any specific category - here you can buy and sell items in more than 50 different categories. We also carefully review all ads that are being published,
</h5>
<address>
    i-Display<br />
    Matara<br />
    <abbr title="Phone">Phone:</abbr>
    +94 77 777 777
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@idisplay.com">Support@idisplay.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@idisplay.com">Marketing@idisplay.com</a>
</address>