@model IDisplay.Models.Product
@{
    ViewBag.Title = "Home Page";
}

<section>
<div class="container">
<div class="row">
<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Category</h2>
        <div class="panel-group category-products" id="accordian"><!--category-productsr-->
            <div class="panel panel-default">
                <div id="CateID">
                </div>
             </div>
        </div>
					
    </div>
</div>
				
<div class="col-sm-9 padding-right">
<div class="features_items"><!--features_items-->
    <h2 class="title text-center">Product Items</h2>
    <div id="ProductsList">
   
    </div>
						
</div><!--features_items-->
</div>
</div>
</div>
</section>

@section scripts
{
    <script type="text/javascript">

        $(document).ready(function() {

            /* Initial Data load for the Company Drop Down */
            var n = 0;
            var i = 0;
            var address = [];
                  $.getJSON("@Url.Action("GetUserListJsonResult", "Product")",
                function (data) {
                    
                    $.each(JSON.parse(data),
                        function(index, optionaldata) {
                            //var catID = optionaldata.ProductCategoryId;
                            var n1 = Object.keys(data).length;
                            n = n1;
                            
                            address[i] = optionaldata.Address;
                            i = i + 1;
                        });
                });

            $.getJSON("@Url.Action("GetProductCategoryListJsonResult", "Product")",
                function(data) {
                    $.each(JSON.parse(data),
                        function(index, optionaldata) {
                            //var catID = optionaldata.ProductCategoryId;
                            $('#CateID').append('<div class="panel panel-default">' +
                                '<div class="panel-heading">' +
                                '<h4 class="panel-title"><a href="Product/GetProducts/?productCategoryId=' +
                                optionaldata.ProductCategoryId +
                                '">' +
                                optionaldata.ProductCategoryName +
                                '</a></h4>' +
                                '</div>' +
                                '</div>');
                        });
                });
            var j = 0;
            $.getJSON("@Url.Action("GetProductListJsonResult", "Product")",
                function(data) {
                    $.each(JSON.parse(data),
                        function (index, optionaldata) {
                            $('#ProductsList').append(' <div class="col-sm-4">'+
                                '<div class="product-image-wrapper">'+
                                '<div class="single-products">'+
                                '<div class="productinfo text-center">'+
                                ' <img src="/Content/Images/ItemImages/'+optionaldata.ImageUrl+'" alt="" width="150px" height="200px"/>'+
                                ' <h5>Regular: Rs ' + optionaldata.ProductPrice + '</h5>' +
                                ' <h5>Promotional: Rs ' + optionaldata.PromotionalPrice + '</h5>' +
                               ' <p>' + optionaldata.ProductName + '</p>' +
                                ' <a href="#">' + optionaldata.ProductDescription + '</a></br>' +
                                ' <a href="#">' + address[j] + '</a>' +
                                '</div>'+
                                '<div class="product-overlay">'+
                                '<div class="overlay-content">'+
                                ' <h2>Regular: Rs ' + optionaldata.ProductPrice + '</h2>' +
                                ' <h2>Promotional: Rs ' + optionaldata.PromotionalPrice + '</h2>' +
                               ' <p>' + optionaldata.ProductName + '</p>' +
                                ' <p>' + address[j] + '</p>' +

                                '</div>'+
                               ' </div>'+
                                '</div>'+
                                '<div class="choose">'+

                               ' </div>'+
                               ' </div>'+
                                '</div>');
                            j = j + 1;

                        });

                });
        });
    </script>
}